* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    
}
.bg_layer {
    background: url(../assets/img/Layer_20.png);
    background-repeat: no-repeat;
    background-size: auto;
}
.block_colum {
    display: flex;
    flex-direction: column;
}
.header_top {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 6px;
}
.logo_text {
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
    color: #ffffff;
    font-family: "Lucida Sans";
    font-size: 41px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.41px;
    position: relative;
    top: 4px;
    left: 5px;
}
.nav_positions {
    position: relative;
    right: 12px;
    top: 9px;
}
.bg_layer_nav_1{
    width: 453px;
    height: 41px;
    background-color: #f5c506;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.27;
    position: relative;
    top: 44px;
}
.bg_layer_nav_2{
    width: 453px;
    height: 41px;
    background-color: #f5c506;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.27;
    position: relative;
    top: 6px;
    left: 4px;
    
}
.nav_list {
    width: 453px;
    height: 41px;
    background-color: #f5c506;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 29px;
    left: 8px;
    padding: 1px 0px;
}
.nav_list li:hover {
    background-color: #dcb105;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    transform: scale(1.1);
    transition: 0.5s;
}
.nav_ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_first {
    height: 100%;
    width: 172px;
    border-right: 1px solid #dcb105;
}
.nav_second {
    height: 100%;
    width: 133px;
    border-right: 1px solid #dcb105;
}
.nav_third {
    height: 100%;
    width: 147px;
}
.nav_span_1 {
    position: relative;
    bottom: 3px;
    left: 4px;
}
.nav_span_2 {
    position: relative;
    bottom: 3px;
    left: 6px;
}
.nav_span_3 {
    position: relative;
    bottom: 2px;
    left: 3px;
}
.nav_a {
    color: #9b7d08;
    font-family: "Segoe WP";
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.17px;
    text-decoration: none;
}
.slider_top{
    width: 100%;
    height: 435px;
    overflow: hidden;
}
.slide-item{
    height: 435px;
}
.owl-prev {
	content: '';
	background-image: url("../assets/img/arr_left.png") !important;
	background-position: center center !important;; 
	background-repeat: no-repeat !important;
	width: 32px;
    height: 57px;
    background-color: #f5c506bb !important;
    border-radius: 0px !important;
    margin: 0 !important;
}
.owl-next{
	content: '';
	background-image: url("../assets/img/arr_right.png") !important;
	background-position: center center !important;; 
	background-repeat: no-repeat !important;
	width: 32px;
    height: 57px;
    background-color: #f5c506bb !important;
    border-radius: 0px !important;
    margin: 0 !important;
}
.slider_top .owl-theme .owl-nav [class*=owl-]:hover{
    background: transparent;
}
.owl-nav {
    margin-top: 10px;
    position: relative;
    bottom: 279px;
    display: flex;
    justify-content: space-between;
}
.slider-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_video {
    position: relative;
    top: 35px;
    left: 68px;
}
.play_btn {
    width: 67px;
    height: 67px;
    background-color: #f5c506b2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 196px;
    left: 238px;
    cursor: pointer;
    z-index: 999999;
}
video {
    width: 549px;
    height: 327px
}
.play_btn_img {
    width: 19px !important;
}
.play_btn_small {
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5c506b2;
    position: relative;
    bottom: 113px;
    left: 27px;
    cursor: pointer;
}
.play_btn_img_2 {
    width: 10px !important;
}
.timer {
    width: 404px;
    height: 12px;
    background-color: #f5c5063f;
    position: relative;
    bottom: 133px;
    left: 82px;
    border-radius: 5px;
    overflow: hidden;
}
.timer_time {
    height: 100%;
    width: 44%;
    background-color: #f5c506;
}
.sound {
    width: 15px !important;
    height: 15px !important;
    position: relative;
    bottom: 146px;
    left: 512px;
}
.h1 {
    width: 413px;
    height: 121px;
    color: #ffffff;
    font-family: 'Asap', arial;
    font-size: 63px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 52px;
    left: -59px;
    line-height: 75px;
}
.h1 span {
    color: #f5c506;
    letter-spacing: 0.63px;
}
.advantages {
    width: 100%;
    min-height: 212px;
    background-image: url(../assets/img/white_back.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 10;

}
.advantages_blocks {
    width: 340px;
    height: 213px;
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.advantages_blocks_right {
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}
.advantages_blocks_text {
    color: #000000;
    font-family: "Segoe UI";
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.27px;
    margin-top: 18px;
}
.orange_block {
    width: 100%;
    min-height: 509px;
    background-image: url(../assets/img/orange_back.png);
    background-position: center center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 0px 140px;
}
.orange_cards {
    display: flex;
}
.orange_block_h2 {
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "Lorem ipsu" */
    letter-spacing: 0.37px;
    margin: 40px 0px 31px 0px;
}
.orange_card_first {
    width: 341px;
    height: 233px;
    position: relative;
    background-color: #ec9e03;
    color: #ffffff;
    font-family: "Segoe UI Light","Segoe UI";
    font-size: 22px;
    font-weight: 100;
    line-height: 38px;
    letter-spacing: 0.29px;
    padding: 34px;
}
.plus {
    position: absolute;
    right: 14px;
    bottom: 14px;
}
.orange_card_second{
    width: 315px;
    height: 232px;
    background-image: url(../assets/img/man_monkey.png);
    background-position: center center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play_btn_2 {
    width: 67px;
    height: 67px;
    background-color: #f5c506b2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orange_card_third {
    width: 329px;
    height: 233px;
    background-color: #ec9e03;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 34px;
    position: relative;
}
.twenty_two {
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 25px;
    font-weight: 300;
    line-height: 38px;
    /* Text style for "22" */
    letter-spacing: 0.25px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.date {
    background-color: #ddb101;
    width: 113px;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.num_date {
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 51px;
    font-weight: 700;
    line-height: 38px;
    /* Text style for "25" */
    letter-spacing: 0.51px;
}
.month {
    color: #b26529;
    font-family: "Segoe UI";
    font-size: 21px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
    /* Text style for "A, PRIL" */
    letter-spacing: 0.21px;
}
.block_with_lines {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}
.long_line {
    width: 896px;
    height: 15px;
    background-color: #ffffff7c;
    border-radius: 4px;
    position: relative;
}
.short_line {
    width: 197px;
    height: 15px;
    background-color: #ec9e03;
    border-radius: 4px;
    position: absolute;
    left: 35%;
}
.gray_block {
    width: 100%;
    min-height: 499px;
    background-image: url(../assets/img/gray_back.png);
    background-position: center center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 140px;
}
.gray_block_in {
    display: flex;
    align-items: flex-end;
}
.gray_block_h2 {
    color: #f5c506;
    font-family: "PT Sans";
    font-size: 43px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "Lorem ipsu" */
    letter-spacing: 0.43px;
    margin-top: 50px;
}
.technics {
    display: flex;
    justify-content: space-between;
    width: 542px;
    align-items: baseline;
    margin-top: 58px;
    position: relative;
    right: 30px;
    bottom: 20px;
}
.margin_technics {
    position: relative;
    bottom: 40px;
}
.free_round {
    width: 116px;
    height: 116px;
    background-color: #f5c506;
    border-radius: 50%;
    position: absolute;
    top: -46px;
    left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.free_round_text {
    color: #ffffff;
    font-family: "PT Sans - Narrow Bold";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "I, ts 100%" */
    letter-spacing: 0.51px;
}
.list_bottom_in {
    list-style-image: url("../assets/img/circle_orange.png");
    color: #a9a9a7;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 400;
    /* Text style for "Lorem ipsu" */
    letter-spacing: 0.22px;
    
}
.list_bottom {
    width: 379px;
    height: 214px;
    position: relative;
    left: 71px;
    bottom: 13px;
}
.list_bottom_in li {
    line-height: 26px;
    margin-bottom: 20px;
}

.footer_logo {
    background-color: #4c4c4c;
    height: 64px;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
}
.footer_logo img {
    margin-left: 140px;
    margin-right: 9px;
}
.footer_text {
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
    color: #ffffff;
    font-family: "Lucida Sans";
    font-size: 29px;
    font-style: italic;
    text-transform: uppercase;
    /* Text style for "TheYalow" */
    letter-spacing: 0.29px;
}
.mobile_header_top {
    display: none;
}
.orange_block_mobile{
    display: none;
}
